* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --COLOR: white;
    --BACKGROUND-COLOR: #1876f2;
    --NEWBACKGROUND: #efefef;
}

nav {
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    padding: 5px 5%;
    position: sticky;
}

nav .nav-bar-left, .nav-bar-right {
    display: flex;
    align-items: center;
}

nav .nav-bar-left .logo img {
    width: 160px;
    margin-right: 45px;
    cursor: pointer;
}

nav .nav-bar-left .icon-bar ul li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
}

nav .nav-bar-left .icon-bar ul li:hover, .logo img:hover {
    transform: scale(0.8);
}

nav .nav-bar-left .icon-bar ul li img {
    width: 30px;
    margin-right: 15px;
}

.nav .nav-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

nav .nav-bar-right .search-bar {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 0 15px;
    background: white;
    border-radius: 20px;
}

nav .nav-bar-right .search-bar img {
    width: 18px;
}

nav .nav-bar-right .search-bar input {
    border: 0px;
    border-radius: 20px;
    width: 100%;
    outline: 0px;
    background: transparent;
    padding: 10px;
}

nav .nav-bar-right .profile-icon img {
    border-radius: 50%;
    width: 40px;
    margin-left: 25px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    background-color: green;
    position: absolute;
    top: 5px;
    right: 1px;
}

.Home-container {
    display: flex;
    padding-left: 70px;
    background-color: whitesmoke;
}

.Home-container .left-home {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    flex-basis: 25%;
}

.Home-container .left-home .all-link, .Home-container .left-home .short-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.Home-container .left-home .all-link ul, .Home-container .left-home .short-link ul {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px 0;
    
}

.Home-container .left-home .all-link ul li, .Home-container .left-home .short-link li {
    text-align: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: gray;
    
}

.Home-container .left-home .all-link ul li a, .Home-container .left-home .short-link li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    position: relative;
    color: gray;
}

.Home-container .left-home .all-link ul li:last-child a {
    padding-top: 30px;
    color: #1876f2;
}

.Home-container .left-home .all-link ul li img {
    width: 35px;
    padding-right: 10px;
    opacity: 0.8;
}

.Home-container .left-home .all-link ul li img:hover, .Home-container .left-home .short-link ul li img:hover {
    opacity: 1;
}

.Home-container .left-home .shortlink p {
    margin: 20px 0;
    font-size: 18px;
    color: gray;
}

.Home-container .left-home .short-link ul li img {
    width:40px;
    border-radius: 5px;
    margin-right:10px;
    opacity: 0.8;
}

/* -----------MIDDLE CONTENT------------------ */
.middle-home {
    flex-basis: 47%;
    margin: 0 5px;
}

.middle-home .story-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-home .story-gallery .story {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)), url(img/status-1.png);
    flex-basis: 18%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    padding-top: 32%;
    position: relative;
}

.middle-home .story-gallery .story img {
    border-radius: 50%;
    width: 50px;
    border: 5px solid #1876f2;
    position: absolute;
    top: 5px;
    left: 10px;
}

.middle-home .story-gallery .story p {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
}

.middle-home .story-gallery .story-upload p {
    left: 20px;
}

.middle-home .story-gallery .story-upload img {
    bottom: 40px;
    left: 30px;
    top: unset;
    width: 40px;
}

.middle-home .story-gallery .story-1 {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)), url(img/status-2.png);
    background-position: center;
    background-size: cover;
}
.middle-home .story-gallery .story-2 {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)), url(img/status-3.png);
    background-position: center;
    background-size: cover;
}
.middle-home .story-gallery .story-3 {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)), url(img/status-4.png);
    background-position: center;
    background-size: cover;
}
.middle-home .story-gallery .story-4 {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)), url(img/status-5.png);
    background-position: center;
    background-size: cover;
}

.story-1:hover, .story-2:hover, .story-3:hover, .story-4:hover, .story-upload:hover {
    transform: scale(1.05);
}

.post-container {
    background: white;
    padding: 5px;
    margin-top: 5px;
}

.post-container .profile-post, .post-container .post-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.post-container .profile-post p {
    color: gray;
    margin-left: 10px;
    text-align: center;
}

.post-container .profile-post img {
    border-radius: 50%;
    width: 40px;
}
.post-container .profile-post small {
    color: gray;
    position: absolute;
    left: 50px;
    bottom: -2px;
}

.post-container .post-button input {
    border: 0;
    width: 400px;
    height: 100%;
    padding: 20px;
}

.post-container .post-icons {}


/* -----------RIGHT CONTENT------------------ */
.Home-container .right-home {
    position: sticky;
    top: 70px;
   /*  display: flex;
    align-items: center; */
    background-color: white;
    /* justify-content: space-between; */
    margin-top: 10px;
    flex-basis: 25%; 
    padding: 10px 10px;
    border-radius: 5px;
}

.Home-container .right-home .right-sidebar {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.Home-container .right-home .right-sidebar .event-links, .Home-container .right-home .social-event-1  {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Home-container .right-home .right-sidebar .event-links .left-event-link a, .Home-container .right-home .social-event-1 .right-social-event-1 a {
    text-decoration: none;
    opacity: 0.9;
}

.Home-container .right-home .right-sidebar .event-links .left-event-link a:hover, .Home-container .right-home .social-event-1 .left-social-event-1:hover, .right-home .right-bar-friend-online a:hover {
    opacity: 1;
    cursor: pointer;
}

.Home-container .right-home .social-event-1 .left-social-event-1 {
    padding: 15px;
    text-align: center;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    position: relative;
    width: 65px;
    height: 65px;
    opacity: 0.8;
    margin-right: 30px;

}

.Home-container .right-home .social-event-1 .left-social-event-1 p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1876f2;
    width: 100%;
    border-radius: 0 0 5px 5px;
    margin-bottom: -2px;
    color: white;
}

.Home-container .right-home .social-event-1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.Home-container .right-home .social-event-1 .right-social-event-1 img {
    width: 10px;
    margin-right: 5px;
}


.right-home .right-bar-post {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.right-home .right-bar-friend-online {
    position: relative;
    width: 100%;
}

.right-home .right-bar-friend-online img {
    width: 45px;
    border-radius:50%;
    margin:0 10px 10px 0;
}

.right-home .right-bar-friend-online a {
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.right-home .right-bar-friend-online a::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid white;
    position: absolute;
    bottom: 10px;
    left: 30px;
}