* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgb(117, 108, 108);
    border-bottom: 1px solid rgb(97, 92, 92);
    position: sticky;
    z-index: 100;
}

nav .nav-bar-left, .nav-bar-right {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-bar-left .logo img{
    width: 160px;
    margin-left: 2px;
}

nav .nav-bar-left .text ul {
    margin-left: 20px;
}

nav .nav-bar-left .text ul li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

nav .nav-bar-left .text ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}

nav .nav-bar-left .text ul li a::after {
    content: '';
    background-color: white;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -13px;
    transition: all 0.2;
    opacity: 0;
    pointer-events: none;
    
}

nav .nav-bar-left .text ul li a:hover::after {
    opacity: 1;
}

nav .nav-bar-left .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 9px;
    margin: 0 10px;
    height: 100%;
    width: 350px;
    border: 1px solid rgb(37, 36, 36);
}

nav .nav-bar-left .search-box input {
    border: 0;
    outline: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    
}

nav .nav-bar-left .search-box img {
    width: 10px;
}

nav .nav-bar-right .notification img {
    width: 30px;
}

nav .nav-bar-right ul li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

nav .nav-bar-right ul li button {
    padding: 5px 11px;
    border-radius: 10px;
    border: 0;
}

nav .nav-bar-right ul li:nth-child(2):hover{
    background-color: red;
}
